

.line {
  background-color: black;
  width: 100%;
  height: 3rpx;
}

.item {
  display: flex;
  align-items: center;
}

.order{
  width: 100rpx;
  height: 100rpx;
  border: 3rpx solid #ccc;
  text-align: center;
  line-height: 100rpx;
  border-radius: 50%;
  margin: 20rpx;

}
.content{

}
